@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&family=Roboto&family=Ubuntu&display=swap");

* {
  font-family: "Montserrat", sans-serif;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }
}

// animaciones
//neon
@keyframes neon {
  0%,
  19%,
  21%,
  24%,
  30%,
  63%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  32%,
  64%,
  65% {
    opacity: 0;
  }
}

/* Animación específica para la letra 'o' */
@keyframes oNeon {
  4%,
  23%,
  25%,
  28%,
  34%,
  68%,
  100% {
    opacity: 1;
  }
  64%,
  65%,
  74%,
  84%,
  90%,
  100% {
    opacity: 0;
  }
}

// .presentation {
//   position: absolute;
//   transition: all 0.3s;
//   min-height: 100vh;
//   width: 100%;
//   align-items: center;
//   background-image: url("../assets/animate-bg.svg");
//   background-size: cover;

//   .home__container {
//     position: relative;
//     // background-color: red;
//     align-items: center;
//     justify-content: space-between;
//     display: flex;
//     height: 100%;

//     .presentation__container {
//       color: #ffffff;
//       width: 100%;

//       h1 {
//         font-size: 5rem;
//         letter-spacing: 8px;
//         text-align: center;

//         span {
//           color: #ffffffcc;
//           font-weight: bolder;
//           font-size: 5rem;
//           animation: neon 2s 1 ease-in-out;
//           text-shadow: 5px 5px 20px #a772f8, 0 0 20px #a772f8, 0 0 30px #a772f8;
//         }

//         .letter__o {
//           animation: oNeon 1s 1 ease-in-out;
//         }
//       }

//       .sobre__mi {
//         font-size: 1.25rem;
//         margin-top: 8%;
//         display: flex;
//       }

//       .contact__info {
//         display: flex;
//         gap: 5%;
//         margin-top: 5%;
//         align-items: center;
//         justify-content: center;
//         font-size: 2rem;

//         span,
//         .icon {
//           cursor: pointer;
//           transition: all 0.3s;
//         }

//         span:hover,
//         .icon:hover {
//           color: #ffa500;
//         }
//       }
//     }

//     .picture_container {
//       position: relative;
//       width: 100%;
//       height: 80%;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       img {
//         // width: 100%;
//         // height: 50%;
//         // margin-right: 30%;
//         border-radius: 1%;
//       }
//     }
//   }
// }

// .about__me {
//   position: absolute;
//   width: 100%;
//   top: 100vh;
//   padding-top: 2%;
//   background-image: url("../assets/bg-wave.svg");
//   background-size: 300%;
//   align-items: center;

//   .about__me__container {
//     height: 70vh;
//     margin-top: 6%;
//     align-items: center;
//     display: flex;

//     .info {
//       width: 100%;
//       align-items: center;
//       display: flex;
//       flex-direction: column-reverse;
//       gap: 10px;

//       p {
//         font-size: 1.25rem;
//       }

//       img {
//         border-radius: 8px;
//       }
//     }
//   }
// }

// .employes {
//   position: absolute;
//   width: 100%;
//   margin: 5% 0;
//   top: 190%;
//   // height: 100vh;
//   align-items: center;

//   .logos {
//     display: flex;
//     margin: 5% 0;
//     align-items: center;
//     justify-content: space-around;

//     img {
//       cursor: pointer;
//       transition: all 0.3s;
//       border-radius: 8px;
//     }

//     img:hover {
//       transform: translateY(-10%);
//     }
//   }
// }

// .skills {
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   top: 250%;
//   position: absolute;
//   background: #000;

//   .img__container {
//     display: flex;
//     align-items: center;
//     gap: 30px;

//     img {
//       max-width: 100px;
//       margin: 0 0 5% 0;
//       transition: all 0.3s;
//     }
//     img:hover {
//       transform: translateY(-10%);
//     }

//     .bootstrap {
//       filter: drop-shadow(5px 1px 10px #8a0afc);
//     }
//     .css {
//       filter: drop-shadow(5px 1px 10px #2965f1);
//     }
//     .html {
//       filter: drop-shadow(5px 1px 10px #ef652a);
//     }
//     .javascript {
//       filter: drop-shadow(5px 1px 10px #f0dc4e);
//     }
//     .nodejs {
//       filter: drop-shadow(5px 1px 10px #8bc500);
//     }
//     .react {
//       filter: drop-shadow(1px 1px 1px #61dcfbab);
//     }
//     .typescript {
//       filter: drop-shadow(5px 1px 10px #017acbad);
//     }
//     .express {
//       filter: drop-shadow(1px 1px 2px #00000091);
//     }
//   }
// }
